/*This ia actually about the body*/
body {
    margin: 0%;
    padding: 0%;
    background: #f6f3f3;
}

/*this is all about header*/
header{
    background-color: rgb(247,118,13);
    text-align: center;
    padding: 30px;
    animation: heh .4s linear 1;
}
header h1{
    display: inline;
    margin: 5px;
    word-spacing: 8px;
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: #44352c;
}
header p{
    display: block;
    margin: auto;
    font-size: 20px;
    font-family: 'Segoe UI', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 0 10px;
    transition: .9s ease;
}
.buttons{
    text-align: center;
    margin: 15px 0px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.logo{
    width: 40px;
    display: inline;
    margin-left: 15px;
    margin-bottom: 0px;
    border-radius: 50%;
    transition: 2s;
}
.titre{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Now the input thingy*/
.search-box{
    text-align: center;
    display: flex;
    justify-content: center;
}
button{
    border: none;
    padding: 0 15px;
    background: rgb(247, 118, 13);
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 17px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: 1s;
}
input{
    padding: 20px 10rem 20px 20px ;
    border: 1px solid grey;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 17px;
}
::placeholder{
    width: 100rem;
}

/*now the choices*/
.div1{
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}
.div2{
    width: 300px;
    display: inline-block;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: .9s;
    padding-bottom: 5px;
    margin-right: 10px;
    margin: 20px 10px 0px 10px;
    animation: heh .5s linear 1;
}
.div2 h2, .div2 p, .div2 h3{
    padding: 5px;
    font-weight: lighter;
}
.div2 h3, .rev{
    display: inline-block;
    margin: 0;
    width: 70px;
}
.place1{
    height: 250px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.div3{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.div4{
    margin-left: 60px;
    padding: 0px;
    display: flex;
    justify-content: right;
    width: 50%;
    transition: .5s;
    visibility: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.side{
    display: inline-block;
    width: 15%;
    transition: .5s;
    visibility: visible;
}
.cal{
    opacity: 0;
    margin: 0px;
    display: inline-block;
    border: none;
    transition: .5s;
}
.loc{
    margin: 0;
    transition: .5s;
    opacity: 0;
    border: none;
}
span{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: .8;
}

/*trying something again*/
.a1{
    animation: enter .6s linear 1;
}
.a2{
    animation: enter .8s linear 1;
}
.a3{
    animation: enter 1s linear 1;
}
.a4{
    animation: enter 1.2s linear 1;
}

/*a little animatiom?*/
a:hover{
    box-shadow: 1px 3px 10px rgb(127, 123, 123);
    transform: scale(1.05);
    color: white;
    background-color: rgb(247, 118, 13);
}
.logo:hover{
    rotate: 360deg;
}
.img1:hover{
    transform: scale(1.06);
}
.div2:hover{
    background-color: rgb(247,118,13);
    transform: translateY(-10px) ;
    box-shadow: 2px 2px 5px grey;
    color: white;
}
.div4:hover{
    visibility: visible;
    .cal{
        opacity: 1;
        border: none;
    };
    .loc{
        border: none;
        opacity: 1;
    };
    color: black;
    background-color: white;
    transform: translateX(-5px);
    box-shadow: 15px 0px 0px white;
}

@keyframes enter{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes heh{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/*footer*/
footer{
    background:rgb(247, 118, 13);
    padding: 15px;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    animation: heh .4s linear 1;
}

/*let's try responsive now*/
@media (max-width:900px) {
    .div1{
        display: block;
        align-items: center;
        text-align: center;
    }
    .div2{
        margin: 10px;
        text-align: left;
    }
}
@media (max-width:590px) {
    .search-box{
        display: none;
    }
}
@media (max-width:460px) {
    .buttons{
        display: none;
    }
}